<div id="about-us">
  <div class="mission">
    <div class="mission-statement">
      <h1>Our Mission</h1>
      <p>To offer integrative and creative programs and resources in the areas of career, character, and interpersonal
        development.
        It is our belief that character assets, interpersonal effectiveness, and career development go hand in hand.
        It's
        impossible to promote one's career development without addressing one's interpersonal capacity and character
        traits.
        More than ever, employers are seeking candidates who display strong character and interpersonal skills. Building
        character and interpersonal capacity not only helps people realize success at work, but also success in life.
        Thus, our
        ultimate goal is to contribute to the professional and personal growth of those who engage in the programs and
        resources
        we offer.</p>
    </div>
    <img src="assets/diversity.jpg">
  </div>
  <div class="bro">
    <img src="assets/bob.jpg">
    <div class="bio">
      <h2>Bob Orndorff</h2>
      <p>Dr. Robert Orndorff is currently the Senior Director of Career Services for Penn State and an Affiliate
        Associate
        Professor in Counselor Education. Dr. Orndorff also serves as a training specialist, leading professional
        development
        seminars for Penn State faculty and staff. In addition to working in higher education, Dr. Orndorff is a career
        and
        interpersonal author and consultant in the education, business, and government sectors. Bob was the lead author
        of a
        Business book, The PITA Principle: How to work with and avoid becoming a Pain In The Ass. In the community, Bob
        is
        active as a little league coach and a thought-piece columnist on fathering for the Centre Daily Times.</p>
    </div>
  </div>
  <div class="bro">
    <div class="bio">
      <h2>Erik Orndorff</h2>
      <p>With almost 25 years of service in public education, including teaching, coaching, and administration, Dr. Erik
        Orndorff
        has influenced thousands of young lives during his career.</p>
      <p>
        In his current role as superintendent, Pequea Valley School District has been nationally recognized as a leader
        in
        educational innovation and customized learning. Accolades include being named an Apple Distinguished School, one
        of only
        87 nationwide; appearing in U.S. News highlighting its success in the personalized learning approach; and
        receiving
        Apple Distinguished Program Status for its visionary leadership, innovative teaching and learning, and flexible
        learning
        environment.</p>

      <p>Dr. Orndorff was a member of the football team at Lebanon Valley College, and received all-Middle Atlantic
        Conference honors
        twice
        and won
        the John Zola Award. He was inducted into the LVC Athletic Hall of Fame in 2009.</p>

      <p>In addition to a B.S. in education from Lebanon Valley, Dr. Orndorff holds a master’s of education degree from
        Shippensburg University, and a doctorate in education from Immaculata University. Education was a logical career
        choice
        as many in his family work in education. Dr. Orndorff and his wife, Melissa, a teacher’s aide in the Garden Spot
        School
        District, have two daughters, Olivia, age 17, and Brooke, 15.</p>
    </div><img src="assets/erik2.jpg">
  </div>


</div>
