<div id="about-us">
  <div class="mission">
    <div class="mission-statement">
      <h1>Our Mission</h1>
      <p>To offer integrative and creative programs and resources in the areas of career, character, and interpersonal
        development.</p>
      <p>It is our belief that character assets, interpersonal effectiveness, and career development go hand in hand.
        It's
        impossible to promote one's career development without addressing one's interpersonal capacity and character
        traits.
        More than ever, employers are seeking candidates who display strong character and interpersonal skills. Building
        character and interpersonal capacity not only helps people realize success at work, but also success in life.
        Thus, our
        ultimate goal is to contribute to the professional and personal growth of those who engage in the programs and
        resources
        we offer.</p>
    </div>
    <a href="http://www.btbm.academy" target="_blank"><img src="assets/obros.png"></a>
  </div>
  <div class="bro">
    <img src="assets/bob.jpg">
    <div class="bio scrollable">
      <h2>Bob Orndorff</h2>
      <!-- <p>Dr. Robert Orndorff is currently the Senior Director of Career Services for Penn State and an Affiliate
        Associate
        Professor in Counselor Education. Dr. Orndorff also serves as a training specialist, leading professional
        development
        seminars for Penn State faculty and staff. In addition to working in higher education, Dr. Orndorff is a career
        and
        interpersonal author and consultant in the education, business, and government sectors. Bob was the lead author
        of a
        Business book, The PITA Principle: How to work with and avoid becoming a Pain In The Ass. In the community, Bob
        is
        active as a little league coach and a thought-piece columnist on fathering for the Centre Daily Times.</p> -->

      <p>Dr. Robert Orndorff is currently the Senior Director for Penn State Career Services. He is also an Affiliate
        Associate
        Professor of Counselor Education, teaching graduate and undergraduate courses on career development. During the
        past 28
        years, Bob worked as a Career Development Specialist in Higher Education and Private Industry. Over the past few
        years,
        Bob has served as a trainer/presenter for Penn State Human Resources, leading adversity management seminars for
        Penn
        State faculty and staff at University Park and various other campuses. Bob currently serves on three
        University-wide
        administrative committees related to strategic planning, student engagement, and corporate relations. Bob
        received a
        doctoral degree in counselor education (specializing in leadership and career development) from Penn State
        University.
      </p>
      <p>Dr. Orndorff has written and published numerous books and articles in Career Development, Character Education,
        and
        Interpersonal Effectiveness. Bob has been published in a national journal, the Journal of Counseling and
        Development, a
        national magazine, ASCA School Counselor, in national online publications (Career Convergence, College Parents
        of
        America) and quoted in both the U.S. News & World Report and Newsweek. Bob was the sole author of a 300-page
        job-search
        book, The Unofficial Guide to Finding the Perfect Job, published in 2000 by IDG Books Worldwide, Inc., and
        re-published
        by Peterson’s as The Insider’s Guide to Finding the Perfect Job. In addition, Bob wrote a featured job search
        article in
        Job Choices 2001, 2002, and 2003, a magazine published by the National Association of Colleges and Employers and
        distributed annually to most colleges and universities in America. Bob wrote and self-published a book in 2003
        called,
        Becoming the Best Me, featuring career and character essentials highly sought after by 21st Century recruiters.
        He then
        wrote the 2nd edition of Becoming the Best Me in 2004 and the 3rd edition in 2009, both published by JIST
        Publishing. In
        2005, Bob co-authored a children’s book, My Career Adventure: Careers Are Everywhere, incorporating character
        education
        concepts. In 2006, Bob co-authored The Character Development Scale – an assessment instrument for middle school
        and high
        school students to evaluate their character traits. In 2008, Bob co-authored a book, The PITA Principle: How to
        work
        with and avoid becoming a Pain In The Ass, which was published and distributed within the Business section of
        major
        bookstores across the country. Most recently, in 2017, Bob and his brother Erik, a Superintendent, published
        Career &
        Character Education books and instructor manuals for alternative education schools.</p>

      <p>Bob is also a frequent presenter and keynote speaker at regional and national conferences. Bob gave a Keynote
        Address at
        a national Character Conference in Indianapolis with over 2,000 attendees and was selected to speak multiple
        times on
        the integration of career and character development as a featured speaker at the Careers Conference in Madison
        Wisconsin. In 2006, Bob was asked to be one of the keynote speakers along with Richard Bolles (Author of “What
        Color is
        your Parachute?”) at the Job Search Success Conference in Indianapolis. Bob was also asked to keynote the
        state-wide PA
        Educational Office Professionals conference across three different years. In 2007, Bob co-created a career
        enrichment
        seminar for Penn State employees which he delivered from 2007 to 2009. In 2008, Bob was the keynote speaker at
        the Focus
        on Strong Families conference in State College, PA. In 2008 and 2009, Bob presented a 3-hour professional
        development
        seminar to over 300 staff members in the Lancaster and Lebanon PA schools (IU 13). Bob delivered the keynote
        address on
        PITA (difficult) coworkers at two state-wide conferences: the Annual PennACE (PA Association of Colleges &
        Employers)
        and MCDA (Maryland Career Development Association) conferences respectively. In 2016, Bob was the keynote
        speaker at the
        Project Managers Annual Conference held at Penn State University.</p>

      <p>Along with Penn State, Bob has worked at four other universities: Indiana University of Pennsylvania,
        Georgetown
        University, Moravian College, and Elon University. While at Georgetown, Bob’s program, The Strategic Job Search,
        won a
        national award for “the best educational program related to career services in the nation” and was highlighted
        on Good
        Morning America. At Moravian, Bob received two awards, The Timothy M. Breidegam Memorial Service Award for
        exceptional
        service, and the Administrator of the Year Award. In 2005, Bob was presented one of only four “Outstanding Young
        Alumni”
        awards as a graduate of Shippensburg University. Finally, in 2007 Bob received the Vice President’s “Above and
        Beyond”
        award for his outstanding service to Penn State students and colleagues.</p>

      <p>In addition to working in higher education, Bob is a career consultant in the education, business, sports, and
        government industries. In 2003, Bob started a small company, JAZ Consulting, LLC, to facilitate his various
        speaking and
        consulting activity. In 2011, Career Athletes commissioned Bob to offer career-success seminars across the
        region to
        student athletes. In 2012, Bob was contracted by the U.S. Department of Defense to produce career development
        seminars
        for returning military personnel and their families. Bob conducted day-long trainings for Army personnel in the
        Pentagon
        and Educational leaders and administrators for IU 7 (Westmoreland Schools) and IU 10 (Centre County &
        surrounding
        areas). Bob and his brother Erik, a Superintendent, co-directed a leadership camp honoring 60 high school
        students who
        exemplify strong character. He also served as the lead consultant with the Alamance-Burlington NC Area Schools
        on
        developing a comprehensive career education program. In the State College community, Bob is active as a little
        league
        basketball and baseball coach and a thought-piece columnist on “Fathering” for the Centre Daily Times. Bob and
        his wife,
        Chris, and children Jessie, Addie, and Zach reside in State College, PA.</p>

    </div>
  </div>
  <div class="bro">
    <div class="bio">
      <h2>Erik Orndorff</h2>
      <p>With almost 25 years of service in public education, including teaching, coaching, and administration, Dr. Erik
        Orndorff
        has influenced thousands of young lives during his career.</p>
      <p>
        In his current role as superintendent, Pequea Valley School District has been nationally recognized as a leader
        in
        educational innovation and customized learning. Accolades include being named an Apple Distinguished School, one
        of only
        87 nationwide; appearing in U.S. News highlighting its success in the personalized learning approach; and
        receiving
        Apple Distinguished Program Status for its visionary leadership, innovative teaching and learning, and flexible
        learning
        environment.</p>

      <p>Dr. Orndorff was a member of the football team at Lebanon Valley College, and received all-Middle Atlantic
        Conference honors
        twice
        and won
        the John Zola Award. He was inducted into the LVC Athletic Hall of Fame in 2009.</p>

      <p>In addition to a B.S. in education from Lebanon Valley, Dr. Orndorff holds a master’s of education degree from
        Shippensburg University, and a doctorate in education from Immaculata University. Education was a logical career
        choice
        as many in his family work in education. Dr. Orndorff and his wife, Melissa, a teacher’s aide in the Garden Spot
        School
        District, have two daughters, Olivia, age 17, and Brooke, 15.</p>
    </div><img src="assets/erik2.jpg">
  </div>


</div>
