<!-- <obros-container>
  <iu-wallpaper [images]="images" [imageOpacity]="1" [shuffle]="true" [offsetLeft]="0" [offsetTop]="0">
  </iu-wallpaper>
</obros-container> -->
<div id="our-services">
  <div id="btbm">
    <h2>Becoming the Best Me
      <button class="help" mat-fab color="primary" (click)="openEmail('Becoming the Best Me')">
        <mat-icon aria-label="Email Us">help</mat-icon>
      </button>
    </h2>
    <p>Nobody becomes great in a day. To become the best version of yourself, you need to start now. Becoming The Best
      Me is an
      engaging book that show you how to develop life skills, character traits and social skills to propel your career
      and
      future. You’ll learn about key success factors including communication, teamwork, diversity, adversity, and
      leadership.</p>
    <a class="covers" href="http://www.btbm.academy" target="_blank">
      <img src="assets/btbm.PNG">
      <img src="assets/btbm-instructors-manual.PNG">
      <img src="assets/btbm-planner-inside.PNG">
      <img src="assets/btbm-best-practices-manual.PNG">
      <img src="assets/btbm-elementary.PNG">
      <img src="assets/btbm-instructors-manual-elementary.PNG">
    </a>
  </div>
  <obros-speech-topics></obros-speech-topics>
</div>
