<div class="speech-topics">
  <h2>Speech Topics</h2>
  <div *ngFor="let topic of topics; index as i; trackBy: trackByFn;" class="scene">
    <div class="card" (mousemove)="toBack(card, i)" (mouseleave)="toFront(card, i)" (click)="toggle(card, i)" #card>
      <div class="card-face card-front">
        <h5>{{topic.title}}</h5>
        <button color="primary" class="btn-email" mat-raised-button (click)="openEmail(topic.name)">Request
          Info</button>
      </div>
      <div class="card-face card-back">
        <h3>{{ topic.name }}</h3>
        <p>{{topic.description}}</p>
        <button color="primary" class="btn-email" mat-raised-button (click)="openEmail(topic.name)">Request
          Info</button>
      </div>
    </div>
  </div>
</div>
