@import '~@angular/material/_theming';
@import '../../../common';

#container {
  position: absolute;
  @include bg-gradient();
  top: 0;
  left: 0;

  .keyword {
    color: $jaz-light-blue;
    position: fixed;
    font-family: 'Tangerine', cursive;
    font-size: 64px;
    opacity: 0.1;
    color: $theme-white;
  }

  .keyword.alt {
    font-family: 'Gaegu', cursive;
    font-size: 36px;
  }

  .keyword:hover {
    transition: 1000ms;
    opacity: 1;
  }

  #header {
    z-index: 999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    @include dark-primary-gradient();
    @include primary-gradient();
  }

  .sidenav-container {
    position: absolute;
    top: 64px;
    left: 0;
    overflow: hidden;
    z-index: 8;
  }

  #content {
    position: absolute;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  #toggle-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    color: $theme-white;
    font-size: 48px;
    cursor: pointer;
  }

  #logo {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
    height: 48px;
    cursor: pointer;

    img {
      height: 100%;
      @include mat-elevation(16);
    }
  }

  #tabs {
    position: absolute;
    top: 10px;
    right: 10px;

    .mat-tab-link {
      color: $theme-white;
    }
  }

  .help {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-device-width: 1366px) {
  #container {

    #content {

      #toggle-menu {
        font-size: 40px;
        top: 5px;
      }

      #logo {
        display: none;
      }

      .help {
        @include mat-elevation(8);
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: $theme-dark;
        height: 64px;
        width: 64px;
        z-index: 5;

        mat-icon {
          @include mat-elevation(16);
          color: $theme-darker;
          font-size: 72px;
        }
      }
    }
  }
}
