<div id="container" [style.height.px]="windowHeight" [style.width.px]="windowWidth">
  <mat-toolbar id="header" class="mat-elevation-z16">
    <mat-icon id="toggle-menu" (click)="toggleSidenav()">menu</mat-icon>
    <!-- <img routerLink="/home" id="logo"
        src="https://static.wixstatic.com/media/039c68_8905bf0027d948019e0c80c391bb8d92~mv2.png/v1/fill/w_220,h_98,al_c,lg_1,q_80/039c68_8905bf0027d948019e0c80c391bb8d92~mv2.webp"> -->
    <!-- <a id="logo" href="http://www.btbm.academy" target="_blank"><img src="assets/btbm-logo.PNG"></a> -->
    <nav id="tabs" headerPosition="below" mat-tab-nav-bar>
      <button mat-button mat-tab-link (click)="scrollTo.emit('HOME')">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button mat-tab-link (click)="scrollTo.emit('ABOUT_US')">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-button mat-tab-link (click)="scrollTo.emit('OUR_SERVICES')">
        <mat-icon>room_service</mat-icon>
      </button>
      <button mat-button mat-button mat-tab-link (click)="openEmail('')">
        <mat-icon>contact_support</mat-icon>
      </button>
    </nav>
  </mat-toolbar>
  <div class="sidenav-container scrollable" [style.min-height.px]="windowHeight" [style.width.px]="sidenavWidth"
    [@sidenavState]="sidenavOpened ? 'open' : 'closed'">
    <obros-sidenav [height]="contentHeight" [isMobile]="isMobile" (scrollTo)="onScrollTo($event)"
      (contactUs)="openEmail($event)"></obros-sidenav>
  </div>
  <div id="content" class="scrollable parallax" [@contentState]="sidenavOpened ? 'open' : 'closed'"
    (scroll)="onScroll($event)" [style.height.px]="windowHeight - 64" [style.left.px]="windowWidth - contentWidth"
    [style.top.px]="64">
    <ng-content></ng-content>
  </div>
  <div *ngIf="!isMobile" class="word-collage">
    <!--Interpersonal-->
    <span @dimmer class="keyword" [style.transform]="'rotate(0deg)'" [style.top.%]="17" [style.left.%]="14"
      [style.font-size.px]="58">Interpersonal</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(0deg)'" [style.bottom.%]="26"
      [style.right.%]="19">Interpersonal</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(0deg)'" [style.bottom.%]="22"
      [style.left.%]="27">Interpersonal</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(0deg)'" [style.top.%]="23"
      [style.right.%]="25">Interpersonal</span>
    <!--Interpersonal-->

    <!--Diversity-->
    <span @dimmer class="keyword" [style.transform]="'rotate(15deg)'" [style.bottom.%]="13"
      [style.left.%]="10">Diversity</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(15deg)'" [style.top.%]="15"
      [style.right.%]="10">Diversity</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(15deg)'" [style.bottom.%]="24"
      [style.right.%]="4">Diversity</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(15deg)'" [style.top.%]="9"
      [style.left.%]="18">Diversity</span>
    <!--Diversity-->

    <!--Teamwork-->
    <span @dimmer class="keyword" [style.transform]="'rotate(-45deg)'" [style.top.%]="28"
      [style.left.%]="35">Teamwork</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(-45deg)'" [style.bottom.%]="10"
      [style.right.%]="16">Teamwork</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-45deg)'" [style.bottom.%]="24"
      [style.right.%]="41">Teamwork</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-45deg)'" [style.top.%]="12"
      [style.right.%]="20">Teamwork</span>
    <!--Teamwork-->

    <!--Adversity-->
    <span @dimmer class="keyword" [style.transform]="'rotate(-90deg)'" [style.bottom.%]="50"
      [style.left.%]="40">Adversity</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(90deg)'" [style.bottom.%]="50"
      [style.right.%]="-2.5">Adversity</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-90deg)'" [style.bottom.%]="10"
      [style.right.%]="40">Adversity</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(90deg)'" [style.bottom.%]="12"
      [style.left.%]="1">Adversity</span>
    <!--Adversity-->

    <!--Communication-->
    <span @dimmer class="keyword" [style.transform]="'rotate(-15deg)'" [style.top.%]="15"
      [style.right.%]="30">Communication</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(-15deg)'" [style.bottom.%]="11"
      [style.left.%]="26">Communication</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-15deg)'" [style.bottom.%]="5"
      [style.right.%]="27">Communication</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-15deg)'" [style.top.%]="19"
      [style.left.%]="29">Communication</span>
    <!--Communication-->

    <!--Integrity-->
    <span @dimmer class="keyword" [style.transform]="'rotate(-30deg)'" [style.bottom.%]="10"
      [style.right.%]="5">Integrity</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(-30deg)'" [style.top.%]="10"
      [style.left.%]="5">Integrity</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-30deg)'" [style.top.%]="9"
      [style.right.%]="5">Integrity</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-30deg)'" [style.bottom.%]="5"
      [style.left.%]="7">Integrity</span>
    <!--Integrity-->

    <!--Listening-->
    <span @dimmer class="keyword" [style.transform]="'rotate(20deg)'" [style.top.%]="7"
      [style.left.%]="29">Listening</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(20deg)'" [style.bottom.%]="15"
      [style.right.%]="30">Listening</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(20deg)'" [style.top.%]="10"
      [style.right.%]="38">Listening</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(20deg)'" [style.bottom.%]="17"
      [style.left.%]="17">Listening</span>
    <!--Listening-->

    <!--Leadership-->
    <span @dimmer class="keyword" [style.transform]="'rotate(90deg)'" [style.bottom.%]="45"
      [style.right.%]="43">Leadership</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(-90deg)'" [style.bottom.%]="45"
      [style.left.%]="-2.5">Leadership</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(90deg)'" [style.bottom.%]="14"
      [style.left.%]="42">Leadership</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(-90deg)'" [style.top.%]="20"
      [style.right.%]="-1">Leadership</span>
    <!--Leadership-->

    <!--Service-->
    <span @dimmer class="keyword" [style.transform]="'rotate(0deg)'" [style.top.%]="8"
      [style.right.%]="50">Service</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(0deg)'" [style.bottom.%]="4"
      [style.left.%]="36">Service</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(0deg)'" [style.top.%]="28" [style.right.%]="19"
      [style.font-size.px]="48">Service</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(0deg)'" [style.bottom.%]="25" [style.left.%]="3"
      [style.font-size.px]="48">Service</span>
    <!--Service-->

    <!--Exploration-->
    <span @dimmer class="keyword" [style.transform]="'rotate(45deg)'" [style.top.%]="29" [style.right.%]="6"
      [style.font-size.px]="58">Exploration</span>
    <span @dimmer class="keyword" [style.transform]="'rotate(45deg)'" [style.bottom.%]="31"
      [style.left.%]="35">Exploration</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(45deg)'" [style.top.%]="29"
      [style.right.%]="41">Exploration</span>
    <span @dimmer class="keyword alt" [style.transform]="'rotate(45deg)'" [style.top.%]="25"
      [style.left.%]="2">Exploration</span>
    <!--Exploration-->
  </div>

  <button class="help" mat-fab color="primary" (click)="openEmail()">
    <mat-icon aria-label="Email Us">help</mat-icon>
  </button>
</div>
