<obros-container (scrolling)="scrollTop = $event" (scrollTo)="scrollTo($event)">
  <div id="home" class="scrollable" [style.height.px]="(windowHeight$ | async) - 64" #home>
    <h1 class="headline">We are the O Brothers...</h1>
    <div class="middle"><img src="assets/obros.png">
      <div class="tagline">
        <span class="intro">...and together we will</span>
        <p>Build character.</p>
        <p>Develop interpersonal skills.</p>
        <p>Overcome adversity.</p>
        <p>Maximize career potential.</p>
      </div>
    </div>
    <div class="bottom">
      <img *ngIf="top" class="scroll-down" src="assets/scroll-down.gif">
    </div>
  </div>
  <obros-about-us #aboutUs></obros-about-us>
  <obros-our-services #ourServices></obros-our-services>
</obros-container>
