@import '../../common';

#home {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  //margin-top: 532px;


  .tagline {
    color: $theme-white;
    color: #1A2B3C;
    font-size: 48px;
    font-family: 'Marcellus SC', serif;
    width: 35%;
    margin-right: 5%;
  }

  img {
    width: 60%;
    opacity: 0.3;
    margin-left: -8%;
  }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {

  #home {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;


    .tagline {
      color: $theme-white;
      font-size: 28px;
      font-family: 'Marcellus SC', serif;
      width: 90%;
      text-align: center;
    }

    img {
      width: 100%;
      opacity: 0.3;
      justify-self: flex-end;
    }
  }
}
