<div id="sidenav" [style.height.px]="height">
  <a href="http://www.btbm.academy" target="_blank" mat-button>Becoming the Best Me</a>
  <button mat-button>
    <mat-icon>home</mat-icon>
    <span class="section-label">Home</span>
  </button>
  <button mat-button>
    <mat-icon>info</mat-icon>
    <span class="section-label">About Us</span>
  </button>
  <button mat-button>
    <mat-icon>room_service</mat-icon>
    <span class="section-label">Our Services</span>
  </button>
  <button mat-button>
    <mat-icon>contact_support</mat-icon>
    <span class="section-label">Contact Us</span>
  </button>
</div>
